<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="./stylesheets/materialize.min.css">
        <!-- <script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script> -->
<title>The Rack - Blend in fashion</title>
<link rel="icon" type="image/ico" href="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css" media="screen">
*{padding: 0; margin: 0;}
    .block-txt{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        color: white;
        font-size: 45px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    .full {width: 100vw;
        height: 100vh; overflow:hidden;
        background: url("https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/poly5.jpg?0") center 0 no-repeat;
        background-size:cover;
        }
</style>

</head>
<body>
        <div class="row full">
            <!-- <img src="https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/poly5.jpg?0" alt=""> -->
            <div class="block-txt">
                <p>Website coming soon!</p>
            </div>
        </div>



    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="./javascripts/materialize.min.js"></script>
</body>
</html>